.button {
    background-color: var(--white);
    padding: 10px;
    border-radius: 20px;
    border: none;
    align-content: left;
    margin: 5px;
    width: 90%;
}
.profile {
    float: left;
    border-radius: 50%;
    padding: 0px 7px;
}
.signin {
    margin: -4px 0;
    text-align: left;
    color: var(--darkgrey);
    font-size: 11px;
}
.as {
    font-weight: bold;
    color: var(--darkgrey);
    font-size:11px;
    display: block;
}
.google {
    float: right;
    margin: -5px;
}