:root {
  --black: rgb(0, 0, 0);
  --blueblack: rgb(15, 15, 23);
  --blue: rgb(29, 155, 240);
  --darkblue: rgb(25, 126, 194);
  --white: #e7e9ea;
  --offwhite: #d0d0d0;
  --grey: #71767b;
  --darkgrey: #484b4e;
}