.main {
  min-height: 50vh;
  margin: -10px;
}

.happening {
  color:var(--white);
  font-size: 54px;
  margin: -10px -20px 50px 0;
  font-weight: bold;
  white-space: nowrap;
}
.join {
  font-size: 30px;
  color: var(--white);
}

.main{
  background-color: var(--black);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container {
  display: flex;
  padding: 100px 100px 0 100px;
}
.logocontainer {
  width: 66%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -50px;
  margin-left: -50px;
}
.line1 {
  float: left;
  width: 39%;
  background-color: var(--darkgrey);
  height: 0.5px;
  border: none;
  margin: 10px 10px;
}
.line2 {
  float: right;
  width: 39%;
  background-color: var(--darkgrey);
  height: 0.5px;
  border: none;
  margin: 10px 10px;
}
.or{
  color: var(--white);
  margin: auto;
  text-align: center;
}
.formcontainer {
  width: 300px;
}
.allleftcontent {
  width: 500px;
}
.linebreak {
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.cookies {
  color: var(--grey);
  font-size: 9px;
}
.bluecookies {
  color: var(--blue);
}
.already{
  color: var(--white);
  font-size: 17px;
  margin-top: 50px;
}

@media screen and (max-width: 932px) {
  .logocontainer {
    width: 100px;
    justify-content: end;
    margin-bottom: 70px;
  }
  .happening {
    white-space: wrap;
  }
  .Logo {
    width: 40px;
  }
  .container {
    display: block;
    margin-top: -30px;
  }
  .allleftcontent {
    width: 200px;
  }
}

@media screen and (max-width: 500px) {
  .logocontainer {
    width: 100px;
    justify-content: end;
    margin-bottom: 70px;
  }
  .happening {
    white-space: nowrap;
    font-size: 30px;
  }
  .Logo {
    width: 40px;
  }
  .container {
    display: block;
    margin-top: -30px;
    margin-left: -60px;
  }
  .allleftcontent {
    width: 200px;
  }
  .join{
    font-size: 20px;
    margin-top: -10px;
  }
}