.main {
  min-height: 100vh;
  margin: -10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.happening {
  color:var(--white);
  font-size: 54px;
  margin: -10px -20px 50px 0;
  font-weight: bold;
  white-space: nowrap;
}
.join {
  font-size: 30px;
  color: var(--white);
}

.main{
  background-color: var(--black);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container {
  display: flex;
  padding: 100px 100px 0 100px;
  flex-direction: row;
  justify-content: space-between;
}
.logocontainer {
  width: 66%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -50px;
  margin-left: -50px;
}
.formcontainer {
  width: 300px;
}
.allleftcontent {
  width: 500px;
}
@media screen and (max-width: 932px) {
  .logocontainer {
    width: 100px;
    justify-content: end;
    margin-bottom: 70px;
  }
  .happening {
    white-space: wrap;
  }
  .Logo {
    width: 40px;
  }
  .container {
    display: block;
    margin-top: -30px;
  }
  .allleftcontent {
    width: 200px;
  }
  .footer {
    margin-top: 300px;
  }
  .main {
    justify-content: start;
  }
}

@media screen and (max-width: 500px) {
  .logocontainer {
    width: 100px;
    justify-content: end;
    margin-bottom: 70px;
  }
  .happening {
    white-space: nowrap;
    font-size: 30px;
  }
  .Logo {
    width: 40px;
  }
  .container {
    display: block;
    margin-top: -30px;
    margin-left: -60px;
  }
  .allleftcontent {
    width: 200px;
  }
  .join{
    font-size: 20px;
    margin-top: -10px;
  }
}